/*
* Document management css
 */
/*
* Variables
 */
.document-page-stripe {
  background-color: #32b092;
  height: 18px; }

.document-management-main .main-table-select {
  width: 124px; }

.create-new-document {
  padding: 25px 28px 28px 28px;
  margin-bottom: 33px; }
  .create-new-document .document-control-top input, .create-new-document .document-control-top select {
    width: 303px;
    height: 50px;
    border: 1px solid #eeeeee;
    background-color: #fff;
    padding: 17px 0 17px 20px;
    color: #707070;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
  .create-new-document .document-control-top input {
    margin-right: 17px; }
  .create-new-document .document-control-middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
    font-family: "Open Sans", sans-serif;
    color: #333333; }
    .create-new-document .document-control-middle .font-select {
      width: 121px;
      height: 34px;
      border: 1px solid #eeeeee;
      background-color: #fff;
      padding: 0px 11px 0 14px;
      font-weight: 400;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
    .create-new-document .document-control-middle .font-type {
      position: relative;
      margin: 0 9px; }
      .create-new-document .document-control-middle .font-type input {
        width: 61px;
        height: 34px;
        border: 1px solid #eeeeee;
        background-color: #fff;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        padding-left: 14px; }
      .create-new-document .document-control-middle .font-type .sort {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 10px; }
        .create-new-document .document-control-middle .font-type .sort a {
          margin-top: -2px; }
    .create-new-document .document-control-middle .font-settings, .create-new-document .document-control-middle .font-alignment {
      border: 1px solid #eeeeee;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
      .create-new-document .document-control-middle .font-settings button, .create-new-document .document-control-middle .font-alignment button {
        background-color: #fff;
        border: 0;
        padding: 0 15px;
        height: 34px; }
      .create-new-document .document-control-middle .font-settings .font-settings__bold, .create-new-document .document-control-middle .font-alignment .font-settings__bold {
        font-weight: 600; }
      .create-new-document .document-control-middle .font-settings .font-settings__italic, .create-new-document .document-control-middle .font-alignment .font-settings__italic {
        font-style: italic;
        font-weight: 600;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee; }
      .create-new-document .document-control-middle .font-settings .font-settings__underline, .create-new-document .document-control-middle .font-alignment .font-settings__underline {
        font-weight: 600; }
    .create-new-document .document-control-middle .font-alignment {
      margin: 0 8px; }
      .create-new-document .document-control-middle .font-alignment .font-alignment__ol {
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee; }
  .create-new-document .add-link {
    background-color: #fff;
    border: 0;
    padding: 0 11px;
    height: 34px;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
  .create-new-document .document-control-bottom textarea {
    border: 1px solid #eeeeee;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    width: 80%;
    height: 190px; }
