/*
* Inventory page css
 */
/*
* Variables
 */
.inventory-page-stripe {
  background-color: #d00fb1;
  height: 18px; }

.inventory-bottom {
  margin-bottom: 20px; }

.inventory-purchase-orders .todo-new-item form {
  width: 100%; }
