/*
* Left menu css
 */
/*
* Variables
 */
.left-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 270px;
  height: 100%;
  background-color: #263238;
  color: #a0a0a0;
  font-size: 14px;
  overflow-y: auto; }
  .left-menu .collapse-menu {
    background-color: #1e292f; }
  .left-menu .brand {
    padding: 17px 35px 14px 35px;
    border-bottom: 1px solid #3a4144; }
  .left-menu .left-menu-item {
    border-bottom: 1px solid #3a4144;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }
    .left-menu .left-menu-item .menu-link {
      padding: 20px 0 20px 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .left-menu .left-menu-item .menu-link-item {
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .left-menu .left-menu-item .contracts {
      color: #f85567; }
    .left-menu .left-menu-item .inventory {
      color: #d00fb1; }
    .left-menu .left-menu-item .document-management {
      color: #32b092; }
    .left-menu .left-menu-item .meetings {
      color: #f8755f; }
    .left-menu .left-menu-item .my-company {
      color: #3bbdd4; }
    .left-menu .left-menu-item .clients {
      color: #97cf4a; }
    .left-menu .left-menu-item .suppliers {
      color: #339ac8; }
    .left-menu .left-menu-item .payroll {
      color: #f9a159; }
    .left-menu .left-menu-item .human-resources {
      color: #face1e; }
    .left-menu .left-menu-item .contracts-link:hover {
      color: #f85567; }
    .left-menu .left-menu-item .inventory-link:hover {
      color: #d00fb1; }
    .left-menu .left-menu-item .document-management-link:hover {
      color: #32b092; }
    .left-menu .left-menu-item .meetings-link:hover {
      color: #f8755f; }
    .left-menu .left-menu-item .my-company-link:hover {
      color: #3bbdd4; }
    .left-menu .left-menu-item .clients-link:hover {
      color: #97cf4a; }
    .left-menu .left-menu-item .suppliers-link:hover {
      color: #339ac8; }
    .left-menu .left-menu-item .payroll-link:hover {
      color: #f9a159; }
    .left-menu .left-menu-item .human-resources-link:hover {
      color: #face1e; }
    .left-menu .left-menu-item i {
      margin-right: 17px; }
    .left-menu .left-menu-item .up {
      margin-right: 0px;
      margin-left: 20px; }
    .left-menu .left-menu-item .submenu-links {
      padding: 20px 0 20px 60px; }
      .left-menu .left-menu-item .submenu-links li {
        margin-bottom: 25px;
        position: relative; }

.menu-active-link {
  /*&:after {
    left: -9px;
    color: $primary-fff;
  }*/ }
  .menu-active-link:after, .menu-active-link:before {
    content: "\f0d9";
    font-family: fontAwesome;
    width: 7px;
    height: 60px;
    font-size: 32px;
    color: #eeeeee;
    position: absolute;
    top: -13px;
    right: 4px;
    /* Projects the arrow tot he direction that we want */ }

#mobile-menu {
  width: 100%;
  height: 100%;
  background-color: #263238;
  color: #a0a0a0;
  font-size: 14px;
  overflow-y: auto; }
  #mobile-menu .collapse-menu {
    background-color: #1e292f; }
  #mobile-menu .brand {
    padding: 17px 35px 14px 35px;
    border-bottom: 1px solid #3a4144; }
  #mobile-menu .left-menu-item {
    border-bottom: 1px solid #3a4144;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }
    #mobile-menu .left-menu-item .menu-link {
      padding: 20px 0 20px 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    #mobile-menu .left-menu-item .menu-link-item {
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    #mobile-menu .left-menu-item .contracts {
      color: #f85567; }
    #mobile-menu .left-menu-item .inventory {
      color: #d00fb1; }
    #mobile-menu .left-menu-item .document-management {
      color: #32b092; }
    #mobile-menu .left-menu-item .meetings {
      color: #f8755f; }
    #mobile-menu .left-menu-item .my-company {
      color: #3bbdd4; }
    #mobile-menu .left-menu-item .clients {
      color: #97cf4a; }
    #mobile-menu .left-menu-item .suppliers {
      color: #339ac8; }
    #mobile-menu .left-menu-item .payroll {
      color: #f9a159; }
    #mobile-menu .left-menu-item .human-resources {
      color: #face1e; }
    #mobile-menu .left-menu-item .contracts:hover {
      color: #f85567; }
    #mobile-menu .left-menu-item .inventory:hover {
      color: #d00fb1; }
    #mobile-menu .left-menu-item .document-management:hover {
      color: #32b092; }
    #mobile-menu .left-menu-item .meetings:hover {
      color: #f8755f; }
    #mobile-menu .left-menu-item .my-company:hover {
      color: #3bbdd4; }
    #mobile-menu .left-menu-item .clients:hover {
      color: #97cf4a; }
    #mobile-menu .left-menu-item .suppliers:hover {
      color: #339ac8; }
    #mobile-menu .left-menu-item .payroll:hover {
      color: #f9a159; }
    #mobile-menu .left-menu-item .human-resources:hover {
      color: #face1e; }
    #mobile-menu .left-menu-item i {
      margin-right: 17px; }
    #mobile-menu .left-menu-item .up {
      margin-right: 0px;
      margin-left: 20px; }
    #mobile-menu .left-menu-item .submenu-links {
      padding: 20px 0 20px 60px; }
      #mobile-menu .left-menu-item .submenu-links li {
        margin-bottom: 25px;
        position: relative; }
