.payroll-main {
  background-color: #fff;
  margin-bottom: 23px; }
  .payroll-main .payroll-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fbfbfb;
    padding: 24px 28px 19px 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 28px; }
  .payroll-main .payroll-table-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 28px; }
    .payroll-main .payroll-table-header .btn-default {
      border-color: #fff !important;
      background-color: #fff !important; }
      .payroll-main .payroll-table-header .btn-default:hover {
        background-color: #fff; }
      .payroll-main .payroll-table-header .btn-default .open > .dropdown-toggle.btn-default {
        background-color: #fff;
        color: #333333; }
  .payroll-main .payroll-table-controls {
    color: #a1a1a1; }
  .payroll-main .main-table {
    padding: 0 28px;
    margin-top: 30px; }
  .payroll-main .btn {
    padding-left: 0px; }
  .payroll-main .table-client-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .payroll-main th {
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }
  .payroll-main td {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400; }

.main-table-footer {
  /*display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;*/ }
  .main-table-footer .print {
    color: #fff;
    padding: 10px 5px;
    background-color: #ababab;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }
  .main-table-footer .payroll-pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: inherit;
    -webkit-justify-content: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    width: inherit; }
    .main-table-footer .payroll-pagination p {
      margin-right: 39px;
      color: #707070; }
    .main-table-footer .payroll-pagination a {
      color: #333333; }

.payroll-footer-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 30px; }
  .payroll-footer-list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff; }
    .payroll-footer-list li div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      padding: 31px; }
    .payroll-footer-list li h2 {
      font-family: "Roboto", sans-serif;
      font-weight: 700; }
