body {
  position: relative;
  background-color: #eeeeee; }

p {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover {
    color: inherit; }
  a:active {
    color: inherit; }

.list-inline {
  margin-left: 0; }

.form-control {
  border: 0; }

.list-inline > li {
  padding: 0; }

ul {
  margin: 0; }

.panel {
  background-color: inherit;
  -webkit-border-radius: 0;
          border-radius: 0; }

.mm-panels > .mm-panel {
  padding: 0; }

.mm-hasnavbar-top-3 .mm-panels {
  top: 50px; }

.mm-navbar-size-3 {
  height: 70px; }

.mm-menu .mm-noresultsmsg {
  display: none; }

.mm-menu .mm-search input {
  background: #eeeeee; }

.breadcrumb {
  background-color: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.panel-body {
  padding: 0; }

.h4, .h5, .h6, h4, h5, h6 {
  margin: 0; }

.black-1 {
  color: #333333; }

.gray-4 {
  color: #707070; }

.content-main-section {
  margin-left: 300px; }

input[type=checkbox], input[type=radio] {
  margin: 0px; }

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProItalic"; */
@font-face {
  font-family: "MyriadProItalic";
  src: url("../fonts/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProSemiBold"; */
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../fonts/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProBoldItalic"; */
@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("../fonts/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("../fonts/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/*
* Header css
 */
.header {
  height: 91px;
  background-color: #fff;
  margin-left: 270px; }
  .header .header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 91px; }
  .header .header-controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    color: #333333;
    justify-content: space-between; }
    .header .header-controls .seacrh-bar, .header .header-controls .language, .header .header-controls .username {
      border-right: 0.5px solid #e0e0e0;
      padding-top: 28px; }
    .header .header-controls .seacrh-bar, .header .header-controls .language, .header .header-controls .username {
      border-right: 0.5px solid #e0e0e0;
      padding-top: 28px; }
  .header .seacrh-bar {
    width: 324px;
    padding-left: 111px;
    padding-right: 30px; }
    .header .seacrh-bar .search-input {
      position: relative; }
    .header .seacrh-bar input {
      width: 183px;
      height: 33px;
      padding: 11px 20px;
      background-color: #f5f5f5;
      border: none;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      font-family: "Open Sans";
      font-weight: 400; }
    .header .seacrh-bar .search-btn {
      position: absolute;
      top: 10px;
      right: 20px; }
  .header .language, .header .username {
    width: 185px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; }
    .header .language .dropdown, .header .username .dropdown {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .header .language .language-logo, .header .username .language-logo {
      -webkit-border-radius: 100%;
              border-radius: 100%;
      background-color: #f5f5f5;
      padding: 4px 9px 5px  9px; }
    .header .language .btn-default, .header .username .btn-default {
      border-color: #fff !important;
      background-color: #fff !important; }
      .header .language .btn-default:hover, .header .username .btn-default:hover {
        background-color: #fff; }
      .header .language .btn-default .open > .dropdown-toggle.btn-default, .header .username .btn-default .open > .dropdown-toggle.btn-default {
        background-color: #fff;
        color: #333333; }
  .header .username {
    width: 215px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; }

.header-menu-item {
  height: 18px;
  background-color: #ffa156; }

.hamburger {
  display: block;
  position: absolute;
  width: 30px;
  height: 40px;
  z-index: 2;
  top: 25px; }

.hamburger__inner {
  display: block;
  width: 40px;
  height: 6px;
  margin-top: 12px;
  background: #707070;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .hamburger__inner::before, .hamburger__inner::after {
    display: block;
    position: absolute;
    content: "";
    z-index: -1;
    width: 40px;
    height: 6px;
    background: #707070;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .hamburger__inner::before {
    top: 0; }
  .hamburger__inner::after {
    top: 24px; }

.hamburger--open .hamburger__inner {
  background: none; }
  .hamburger--open .hamburger__inner::before, .hamburger--open .hamburger__inner::after {
    top: 12px; }
  .hamburger--open .hamburger__inner::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .hamburger--open .hamburger__inner::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.left-menu, #mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 270px;
  height: 100%;
  background-color: #263238;
  color: #a0a0a0;
  font-size: 14px; }
  .left-menu .collapse-menu, #mobile-menu .collapse-menu {
    background-color: #1e292f; }
  .left-menu .brand, #mobile-menu .brand {
    padding: 17px 35px 14px 35px;
    border-bottom: 1px solid #3a4144; }
  .left-menu .left-menu-item, #mobile-menu .left-menu-item {
    border-bottom: 1px solid #3a4144;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }
    .left-menu .left-menu-item .menu-link, #mobile-menu .left-menu-item .menu-link {
      padding: 20px 0 20px 30px; }
    .left-menu .left-menu-item i, #mobile-menu .left-menu-item i {
      margin-right: 17px; }
    .left-menu .left-menu-item .submenu-links, #mobile-menu .left-menu-item .submenu-links {
      padding: 20px 0 20px 60px; }

#mobile-menu {
  width: 100%; }

/*
* Footer css
 */
.footer {
  height: 80px;
  background-color: #b4b4b4;
  color: #fff;
  font-family: "MyriadProSemiBold", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.payroll-main {
  background-color: #fff;
  margin-bottom: 23px; }
  .payroll-main .payroll-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fbfbfb;
    padding: 24px 28px 19px 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 28px; }
  .payroll-main .payroll-table-controls {
    color: #a1a1a1; }
  .payroll-main .payroll-table {
    padding: 0 28px; }
    .payroll-main .payroll-table .table .sort {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .payroll-main .payroll-table .table .sort a {
        margin-top: -10px; }
    .payroll-main .payroll-table .table .test {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .payroll-main .payroll-table .table .fa-chevron-down, .payroll-main .payroll-table .table .fa-chevron-up {
      font-size: 10px; }
    .payroll-main .payroll-table .btn-default {
      border-color: #fff !important;
      background-color: #fff !important; }
      .payroll-main .payroll-table .btn-default:hover {
        background-color: #fff; }
      .payroll-main .payroll-table .btn-default .open > .dropdown-toggle.btn-default {
        background-color: #fff;
        color: #333333; }
    .payroll-main .payroll-table .btn {
      padding-left: 0px; }
    .payroll-main .payroll-table .payroll-table-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .payroll-main .payroll-table .table-client-name {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .payroll-main .payroll-table th {
      font-family: "Open Sans", sans-serif;
      font-weight: 600; }
    .payroll-main .payroll-table td {
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-weight: 400; }
    .payroll-main .payroll-table input[type="checkbox"] {
      -webkit-appearance: none;
      margin-top: 0;
      margin-right: 21px; }
    .payroll-main .payroll-table input[type="checkbox"]:after, .payroll-main .payroll-table .checkbox-inline input[type="checkbox"]:after {
      border: 1px solid #d7d7d7;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      content: '';
      display: block;
      height: 15px;
      -webkit-transition: 240ms;
      transition: 240ms;
      width: 15px; }
    .payroll-main .payroll-table input[type="checkbox"]:checked:before, .payroll-main .payroll-table .checkbox-inline input[type="checkbox"]:checked:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      position: absolute;
      left: 8px;
      top: 4px;
      display: table;
      width: 6px;
      height: 12px;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      content: ''; }
    .payroll-main .payroll-table input[type="checkbox"]:disabled:checked:after, .payroll-main .payroll-table .checkbox-inline input[type="checkbox"]:disabled:checked:after {
      background-color: #eeeeee;
      border-color: transparent; }
    .payroll-main .payroll-table .payroll-table-footer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .payroll-main .payroll-table .payroll-table-footer .print {
        color: #fff;
        padding: 10px 5px;
        background-color: #ababab;
        font-family: "Open Sans", sans-serif;
        font-weight: 700; }
      .payroll-main .payroll-table .payroll-table-footer .table-pagination {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .payroll-main .payroll-table .payroll-table-footer .table-pagination p {
          margin-right: 39px;
          color: #707070; }
        .payroll-main .payroll-table .payroll-table-footer .table-pagination a {
          color: #333333; }

.payroll-footer-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 30px; }
  .payroll-footer-list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff; }
    .payroll-footer-list li div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      padding: 31px; }
    .payroll-footer-list li h2 {
      font-family: "Roboto", sans-serif;
      font-weight: 700; }

/*
* Screen sizes styles
 */
@media screen and (max-width: 1620px) {
  .header .seacrh-bar {
    width: 224px;
    padding-left: 11px;
    padding-right: 10px; }
    .header .seacrh-bar .search-btn {
      right: 35px; }
  .header .language, .header .username {
    width: 155px; }
  .header .username {
    width: 170px; }
  .header .header-controls .banner {
    width: 490px;
    height: 91px; } }

@media screen and (max-width: 1525px) {
  .payroll-footer-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .payroll-footer-list li {
      margin: 0 10px 10px 10px; } }

@media screen and (max-width: 1330px) {
  .header {
    margin-left: 220px; }
  .left-menu, #mobile-menu {
    width: 220px; }
    .left-menu .brand, #mobile-menu .brand {
      padding-left: 5px; }
  .content-main-section {
    margin-left: 240px; }
  .banner {
    display: none; } }

@media screen and (max-width: 1199px) {
  .payroll-main .payroll-table .payroll-table-footer .table-pagination {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .payroll-main .payroll-table .payroll-table-footer .pagination {
    margin-top: 0; } }

@media screen and (max-width: 992px) {
  .header {
    margin-left: 0; }
  .content-main-section {
    margin-left: 0; }
  #mobile-menu {
    width: 100%; } }

@media screen and (max-width: 767px) {
  .header {
    margin-left: 0; }
    .header .header-wrapper {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  .left-menu, #mobile-menu {
    width: 100%; }
  .payroll-main .payroll-table .payroll-table-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .payroll-main .payroll-table .payroll-table-footer .print {
      margin-bottom: 10px; }
  .mobile-username .dropdown, .mobile-language .dropdown, .mobile-username .dropup, .mobile-language .dropup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20%; }
  .mobile-username .user-logo, .mobile-language .user-logo {
    margin-bottom: 10px; }
  .mobile-username .dropdown-menu, .mobile-language .dropdown-menu {
    left: inherit; }
  .mobile-username .btn, .mobile-language .btn {
    border-color: inherit; }
  .mobile-username .btn-default, .mobile-language .btn-default {
    color: #fff;
    background-color: #263238;
    -webkit-border-radius: 0;
            border-radius: 0; }
  .mobile-language {
    margin-top: 10px; }
    .mobile-language .dropup {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
    .mobile-language .language-logo {
      margin-right: 5px; } }

@media screen and (max-width: 550px) {
  .mm-search input {
    width: 80%; } }
