/*
* Sign in css
 */

@import "variables";

.header-sign-in{
  margin-left: 0px;
  .logo{
    margin-right: 20px;
  }
  .banner-sign-in{
    margin-left: 10%;
  }
}

.sign-in-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-panel-wrapper{
  margin-top: 150px;
}

.panel-default{
  border: 0;
}
.login-panel{
  width: 400px;
  font-family: "Open Sans", sans-serif;
  form{
    padding: 28px;
    background-color: $primary-fff;
  }
  .checkbox label{
    display: flex;
    align-items: center;
  }
  .sign-in-btn{
    width: 100%;
    background-color: $gray-10;
    color: #fff;
    padding: 10px 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
  .form-group{
    input{
      border: 1px solid $gray-6 !important;
    }
  }
  .sign-in-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $gray-4;
  }
}

.create-account{
  font-weight: 600;
  color: $gray-4;
  span{
    font-weight: 400;
    color: $gray-2;
  }
}


